In [1]:
import pandas as pd
pd.set_option("display.max_rows", 5000)

In [12]:
hiv_df = pd.read_csv('../../HIV/data/cleaned/race.csv')
infant_df = pd.read_csv("../../Infant Mortality/data/race/total.csv")
insurance_df = pd.read_csv('../../Insurance/data/cleaned/race.csv')
disease_df = pd.read_csv("../../Newborn Diseases/data/cleaned/groupedRace.csv")
poverty_df = pd.read_csv("../../Poverty/data/race/total.csv")

In [14]:
# hiv_df.columns = ['Race','HIV (non-AIDS) Rate','AIDS Rate','HIV/AIDS Rate']
hiv_df = hiv_df.drop(['HIV (non-AIDS) Count', 'AIDS Count', 'HIV/AIDS Count'], axis=1)
infant_df = infant_df.drop(['Count', 'Total Live Births'], axis=1)
infant_df.columns = ['Race', 'Infant Mortality Rate']
insurance_df = insurance_df.drop(['Number of Applicants', 'Population Size'], axis=1)
disease_df = disease_df.drop(['Case Count', 'Screened Count'], axis=1)
disease_df.columns = ['Race', 'Disease Rate per 100,000']
poverty_df = poverty_df.drop(['Population', 'Poverty'], axis=1)
poverty_df.columns = ['Race', 'Poverty Rate']

In [15]:
new_races = ['American Indian and/or Alaska Native', 'Asian', 'Black or African American', 
             'Hispanic', 'Mixed Race', 'Native Hawaiian and Other Pacific Islander', 
             'White', 'Not Reported', 'Other']

In [16]:
infant_df['Race'].value_counts().keys().tolist()

['Not Stated or Unknown',
 'Pacific Islander/Hawaiian',
 'White/Other',
 'Black',
 'American Indian',
 'Asian',
 'Two or more races',
 'Hispanic']

In [17]:
infant_races = ['American Indian', 'Asian', 'Black', 'Hispanic',
                'Two or more races', 'Pacific Islander/Hawaiian', 'White/Other', 
                'Not Stated or Unknown']

for i in range(len(infant_df)):
    race = infant_df.iloc[i, 0]
    if race in infant_races:
        infant_df.iloc[i, 0] = new_races[infant_races.index(race)]
        
infant_df = infant_df.sort_values(by=['Race'])
infant_df

                                         Race  Infant Mortality Rate
0        American Indian and/or Alaska Native                   5.35
1                                       Asian                   2.95
2                   Black or African American                  11.12
3                                    Hispanic                   5.07
6                                  Mixed Race                  10.94
5  Native Hawaiian and Other Pacific Islander                   6.51
4                                Not Reported                   1.02
7                                       White                   4.26

In [18]:
disease_df['Race'].value_counts().keys().tolist()

['Other',
 'Mixed Race',
 'Hispanic or Latino',
 'Black or African American',
 'American Indian and/or Alaska Native',
 'Asian',
 'White',
 'Not Reported']

In [19]:
for i in range(len(disease_df)):
    race = disease_df.iloc[i, 0]
    if race == 'Hispanic or Latino':
        disease_df.iloc[i, 0] = 'Hispanic'
        
disease_df = disease_df.sort_values(by=['Race'])
disease_df

                                   Race  Disease Rate per 100,000
0  American Indian and/or Alaska Native                    133.13
1                                 Asian                     76.71
2             Black or African American                    307.39
3                              Hispanic                     99.63
4                            Mixed Race                     79.17
5                          Not Reported                     86.93
6                                 Other                    114.43
7                                 White                     93.82

In [20]:
poverty_df['Race'].value_counts().keys().tolist()

['Native Hawaiian and Other Pacific Islander',
 'Other',
 'Mixed Race',
 'Black or African American',
 'American Indian and/or Alaska Native',
 'Asian',
 'Hispanic',
 'White']

In [21]:
combined_df = hiv_df.merge(infant_df, on='Race').merge(insurance_df, on='Race')\
                .merge(disease_df, on='Race')\
                .merge(poverty_df, on='Race')

combined_df

,Race,HIV (non-AIDS) Rate,AIDS Rate,HIV/AIDS Rate,Infant Mortality Rate,Insurance Application Rate,"Disease Rate per 100,000",Poverty Rate
0,American Indian and/or Alaska Native,118.6,164.3,282.9,5.35,1.88,133.13,20.2
1,Asian,34.9,48.9,83.8,2.95,3.28,76.71,11.5
2,Black or African American,370.1,595.5,965.7,11.12,5.66,307.39,21.4
3,Hispanic,98.8,164.0,262.8,5.07,4.98,99.63,20.9
4,Mixed Race,79.2,97.0,176.1,10.94,3.09,79.17,13.2
5,White,136.3,208.3,344.5,4.26,3.71,93.82,8.0

In [22]:
combined_df.to_csv("../data/combined.csv", index=False)